.small-picker{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    i{
        color: #c3c5d3;
        margin-right: 10px;
    }
    .arrow-group{
        margin-left: 35px;
        img{
            
        }
    }
}