.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      cursor: pointer;
    }
  }
  .arrow_container {
    position: absolute;
    top: 5px;
  }
  .arrow_container_right {
    right: 0;
  }
  .arrow_container_left {
    left: 0;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
    justify-self: center;
    margin-bottom: 0;
  }
  .title_left {
  }
  .title_right {
  }
  .calendar-field {
    display: flex;
    flex-direction: column;
    .calendar-row {
      display: flex;
      flex-wrap: wrap;
      width: calc(40px * 7);
      .calendar-item {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 2px;
        font-size: 0.9em;
        cursor: pointer;
        &:hover {
          background: rgb(243, 243, 243);
        }
      }
      .active {
        background: #f7ad17;
        color: white;
        &:hover {
          background: #f7ad17;
        }
      }
      .active-first {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      .active-last {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &:first-child {
        .calendar-item {
          font-size: 0.8em;
          color: rgb(170, 170, 170);
          &:hover {
            background: white;
          }
        }
      }
    }
  }
}
